watch_file flake.nix
watch_file flake.lock
watch_file devenv.nix

if ! use flake . --no-pure-eval; then
  echo "devenv could not be built. Make the necessary changes to devenv.nix and hit enter to try again." >&2
fi

# Load local secrets (API keys, etc.)
if [ -f .envrc.local ]; then
  source .envrc.local
fi
dotenv_if_exists .env.local
